[user]
	email = tcitry@gmail.com
	name = tcitry
[includeIf "gitdir:~/luoji/"]
    path = .gitconfig-luoji
[url "git@gitlab.luojilab.com:"]
	insteadOf = https://gitlab.luojilab.com/
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
